@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Splash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Splash&family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Splash&display=swap");
@import url(variables.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: "Rock Salt", cursive; */
/* font-family: "Open Sans", sans-serif; */
.content_layout {
  display: grid;
  grid-template-areas:
    "inicio"
    "menu"
    "descripcion"
    "descuentos"
    "pizza"
    "informacion"
    "suscripcion"
    "redes";
  width: 100%;
  height: 100vh;
}
.inicio {
  grid-area: inicio;
  background-image: url(imagenes/fondo-min.png);
  background-size: cover;
  padding-bottom: 50px;
}
.contenedor-buscador {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 40px;
  align-items: center;
  gap: 20px;
}
.contenedor-buscador__boton {
  height: 100%;
  display: flex;
  color: var(--color_blanco_texto);
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  transition: 0.5s;
  border-bottom: 3px ridge transparent;
  cursor: pointer;
}
.contenedor-buscador__texto {
  font-size: 15px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.contenedor-buscador__boton:hover {
  border-bottom: 3px ridge var(--color_blanco);
}
.navegador {
  margin-right: 70px;
  margin-left: 30px;
  background-color: var(--color_navegador);
  height: 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 140px;
}
.navegador__input {
  width: 85px;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.navegador__icono {
  margin-right: 13px;
  margin-left: 8px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color_negro_texto);
}
.contenedor-informacion {
  color: var(--color_blanco_texto);
  margin-top: 120px;
  width: 100%;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-evenly;

}
.nombre {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  width: 600px;
}
.nombre__logo {
  width: 110px;
  height: 90px;
}
.nombre__titulo {
  font-family: "Water Brush", cursive;
  font-size: 120px;
  font-weight: 100;
  margin-top: 12px;
}
.nombre__subtitulo {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  font-style: italic;
}
.nombre__boton {
  background-color: var(--color_blanco);
  color: var(--color_negro_texto);
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 750;
  max-width: 150px;
  text-align: center;
  transition: 0.5s;
}
.nombre__boton:hover {
  background-color: var(--color_gris_clarito);
}
.nombre__parrafo {
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  font-weight: 400;
}
.platillos {
  position: relative;
}
.platillos__imagen--primer_plato {
  position: relative;

}
.platillos__imagen--segundo_plato {
  position: absolute;
  bottom: -140px;
  right: 460px;
}
.inicio__hojas {
  position: absolute;
  bottom: -320px;
  right: 0px;
}

.menu {
  grid-area: menu;
  background-color: var(--color_fondo);
}
.menu__encabezado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  width: 100%;
  text-align: center;
}
.menu__encabezado__titulo {
  font-family: "Water Brush", cursive;
  font-size: 120px;
  font-weight: 100;
}
.menu__encabezado__parrafo {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
}
.carta {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
}
.carta__plato {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: var(--color_negro_texto);
  margin: 0 20px;
}
.carta__plato__titulo {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 22px;
  margin-left: 40px;
}
.carta__plato__imagen {
  width: 376px;
  height: 368px;
}
.carta__plato__parrafo {
  font-weight: 350;
  max-width: 376px;
  margin-left: 40px;
}
.carta__boton {
  margin-top: 180px;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}
.carta__boton__texto {
  background-color: var(--color_negro_texto);
  padding: 15px 40px;
  text-decoration: none;
  color: var(--color_blanco_texto);
  font-family: "Open Sans", sans-serif;
  font-weight: 650;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.carta__boton__texto:hover {
  background-color: var(--color_gris_oscuro);
}
.descripcion {
  grid-area: descripcion;
  background-color: var(--color_fondo_oscuro);
  color: var(--color_blanco_texto);
}
.descripcion__contenido {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.descripcion__contenido__titulo {
  font-family: "Water Brush", cursive;
  font-size: 120px;
  font-weight: 100;
}
.caja {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.caja_parrafo {
  max-width: 480px;
  margin: 50px 20px 0 20px;
  font-size: 15px;
  font-weight: 300;
  text-align: start;
}
.descripcion__boton {
  font-family: "Open Sans", sans-serif;
  margin-top: 100px;
}
.boton__link {
  padding: 12px 40px;
  background-color: var(--color_blanco);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 750;
  color: #292b2e;
  transition: 0.5s;
}
.boton__link:hover {
  background-color: var(--color_gris_clarito);
}
.descuentos {
  grid-area: descuentos;
  background-color: var(--color_fondo);
}
.primer_descuento {
  margin-top: 80px;
  justify-content: center;
}
.primer_descuento__imagen {
  max-width: 620px;
}
.primer_descuento {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.descuento_info {
  font-family: "Open Sans", sans-serif;
  margin-top: 110px;
}
.descuento_info__titulo {
  font-size: 50px;
  font-weight: 650;
  margin-left: 10px;
}
.descuento_info__parrafo {
  max-width: 500px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 45px;
}
.descuento_info__boton {
  padding: 10px 30px;
  letter-spacing: 3px;
  background-color: var(--color_negro_texto);
  color: var(--color_blanco_texto);
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 10px;
  transition: 0.5s;
}
.descuento_info__boton:hover {
  background-color: var(--color_gris_oscuro);
}
.pizza {
  grid-area: pizza;
  background-image: url(imagenes/fondo-min.png);
  background-size: cover;
  height: 1100px;
  position: relative;
}
.pizza__hojas {
  position: absolute;
  right: 0;
  top: -168px;
  width: 100%;
  height: 850px;
}
.contenido-pizza {
  width: 100%;
  color: var(--color_blanco_texto);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.contenido-pizza__titulo {
  font-family: "Water Brush", cursive;
  font-size: 95px;
  font-weight: 500;
}
.contenido-pizza__parrafo {
  max-width: 800px;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
}
.contenido-pizza__linea {
  width: 130px;
  height: 8px;
  background-color: var(--color_blanco);
  margin-top: 40px;
}
.cja__pizza {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.pcja__pizza__imagen_piza {
  position: relative;
}
.cja__pizza__imagen_triangulo {
  position: relative;
  margin-top: 480px;
  width: 380px;
  height: 330px;
  left: 260px;
}
.informacion {
  grid-area: informacion;
  color: var(--color_fondo_oscuro);
}
.informacion__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 160px;
}
.texto {
  max-width: 370px;
}
.texto:nth-child(2) {
  margin: 0 20px;
}
.text__titulo {
  text-align: center;
  font-family: "Water Brush", cursive;
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 20px;
}
.text__parrafo {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 350;
}
.informacion_extra {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  margin-bottom: 150px;
}
.informacion_extra__parrafo {
  max-width: 500px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 450;
}
.informacion_extra__link {
  margin-top: 50px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: var(--color_negro_texto);
  font-weight: 700;
  transition: 0.3s;
}
.informacion_extra__link:hover {
  color: var(--color_gris_oscuro);
}
.suscripcion {
  grid-area: suscripcion;
  background-color: var(--color_negro_texto);
  position: relative;
}
.contenido {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 260px;
  font-family: "Open Sans", sans-serif;
  color: var(--color_blanco_texto);
}
.contenido__titulo {
  font-size: 60px;
  margin-bottom: 30px;
}
.contenido__parrafo {
  max-width: 800px;
  text-align: center;
  margin-bottom: 70px;
}
.navegador_correo {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 230px;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.email {
  background-color: var(--color_fondo);
  max-width: 680px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  padding: 0 0 0 20px;
}
.email__input {
  outline: none;
  border: none;
  font-size: 15px;
  background-color: transparent;
}
.email__boton {
  background-color: var(--color_gris_oscuro);
  padding: 10.2px 30px;
  border-radius: 30px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 600;
  color: var(--color_blanco_texto);
  transition: 1s;
}
.email__boton:hover {
  background-color: var(--color_gris_clarito);
}
.suscripcion__hojas {
  position: absolute;
  top: -70px;
  width: 100%;
  height: 1000px;
  right: 0;
}
.redes {
  grid-area: redes;
  background-color: var(--color_fondo);
  color: var(--color_negro_texto);
}
.contenedor__informacion {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 300px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.paginas {
}
.paginas__titulo {
  margin-bottom: 20px;
  font-weight: 500;
}
.paginas__parrafo {
  max-width: 400px;
  margin-bottom: 20px;
  font-weight: 350;
}
.red_social {
  display: flex;
  flex-direction: row;
}
.red_social__imagen {
  margin-right: 15px;
  font-size: 25px;
  padding: 8px;
  background-color: var(--color_negro_texto);
  color: var(--color_blanco_texto);
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.red_social__imagen:hover {
  background-color: var(--color_gris_oscuro);
}
.contenedor__enlaces {
  display: flex;
  flex-direction: row;
}
.link {
  margin-right: 50px;
}
.link__lista {
}
.link__titulo {
  margin-bottom: 15px;
  font-weight: 500;
}
.link__texto {
  list-style: none;
  margin-bottom: 8px;
  font-weight: 350;
}


@media (width<850px){
  .inicio{
    padding-bottom: 25px;
  }
  .descuento_info{
    margin-left: 0;
    text-align: center;
  }
  .menu__encabezado{
    width: 799px;
  }
  .menu__encabezado__parrafo{
    width: 600px;
  }
  .contenedor-informacion{
    flex-direction: column;
  }
  .platillos__imagen--primer_plato{
    right: -130px;
  }
  .platillos__imagen--segundo_plato{
    left: -20px;
  }
  .contenedor-buscador{
    justify-content: center;
    
  }
  .nombre{
    padding-bottom: 50px;
    text-align: center;
  }
  .carta{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .carta__plato{
    margin-bottom: 80px;
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
  .carta__plato__titulo{
    margin-left: 0;
  }
  .carta__plato__parrafo{
    margin-left: 0;
  }
  .carta__boton{
    max-width: 800px;
  }
  .descripcion__contenido{
    width: 800px;
    height: 680px;
  }
  .descripcion__boton{
    margin-top: 60px;
  }
  .primer_descuento{
    flex-direction: column;
    max-width: 800px;
    justify-content: center;
    align-items: center;
  }
  .descuento_info{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .descuento_info__boton{
    margin-bottom: 50px;
  }
  .pizza{
    height: none;
  }
  .contenido-pizza{
    width: 800px;
  }
  .contenido-pizza__titulo{
    width: 400px;
    text-align: center;
    font-size: 70px;
  }
  .contenido-pizza__parrafo{
    max-width: 650px;
  }
  .pizza__hojas{
    width: 700px;
    height: 400px;
    left: 30px;
    top: -85px;
  }
  .cja__pizza{
    margin-top: 100px;
  }
  .cja__pizza__imagen_piza{
    width: 650px;
    height: 650px;
    left: 0;
  }
  .cja__pizza__imagen_triangulo{
    width: 300px;
    height: 280px;
    position: absolute;
    left: 15px;
    bottom: -95px;
  }
  .informacion__container{
    flex-direction: column;
    align-items: center;
  }
  .texto{
    padding-bottom: 70px;
  }
  .contenedor__informacion{
    align-items: center;
  }
  .nombre {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .caja_parrafo__texto{
    width: 300px;
  }
  .contenido__parrafo{
    width: 600px;
  }
  .email{
    width: 450px;
  }
  .contenido{
    margin-top: 150px;
  }
  .navegador_correo{
    margin-bottom: 150px;
  }
  .suscripcion__hojas{
    width: 800px;
    height: 770px;
    top: -40px;
  }
  .paginas{
    width: 200px;
    justify-content: space-evenly;
    align-items: start;
    justify-items: start;
  }
  .link{
    margin-right: 20px;
  }
  .contenedor__enlaces{
    height: 284px;
  }
  
}